.btn {
  font-weight: 600;
  font-size: 16px;
  border: 2px solid $gray;
  padding: 13px 28px;
  border-radius: 5px;
  min-width: 14%;
  margin-top: 3%;
  background: transparent;
  color: $light;

  &:hover {
    border-color: $violet;
  }

  @include tablets {
    margin-top: 5%;
  }

  @include phones {
    margin-top: 8%;
  }
}